body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Add this CSS to your global styles or a CSS file */
/* Thin scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* You can use your desired color */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* You can use your desired color */
  border-radius: 4px;
  height: 58px;


}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* You can use your desired color */
}


.slide {
  width: 100%; /* Adjust the width of each slide */
  height: 200px; /* Adjust the height of each slide */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0; /* Background color for non-active slides */
  border: 1px solid #ccc; /* Border for each slide */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.slide.active {
  background-color: #3498db; /* Background color for the active slide */
  color: #fff; /* Text color for the active slide */
  border-color: #2980b9; /* Border color for the active slide */
}