body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Add this CSS to your global styles or a CSS file */
/* Thin scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* You can use your desired color */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* You can use your desired color */
  border-radius: 4px;
  height: 58px;


}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* You can use your desired color */
}

.slick-slider{
  width: 100%;
  height: fit-content;
  position: relative;

}

.slick-slide{
  width: fit-content;
}



/* Add these styles to your CSS */
.slick-prev::before, .slick-next::before {
  content: ""; /* Override default content property */
  font-size: 24px !important; /* Adjust the font size as needed */
  color: #000 !important; /* Change the color as needed */
}

.slick-prev::before {
  content: "<"; /* Use your own custom content for the left arrow */
}

.slick-next::before {
  content: ">"; /* Use your own custom content for the right arrow */
}
